 <!--
{% if page.common-ext-js %}
  {% for js in page.common-ext-js %}
	<script src="{{ js }}"></script>
  {% endfor %}
{% endif %}

{% if page.ext-js %}
  {% for js in page.ext-js %}
	<script src="{{ js }}"></script>
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
	<script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
  {% endfor %}
{% endif %}
-->
 <!--
{% if page.common-js %}
  {% for js in page.common-js %}-->
    <!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->
     <!--
    {% if js contains 'jquery' %}
      <script>
      	if (typeof jQuery == 'undefined') {
      	  document.write('<script src="{{ js | prepend: site.baseurl | replace: "//", "/" }}"></scr' + 'ipt>');
      	}
      </script>
    {% else %}
	<script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}
-->

{% include google_analytics.html %}

<script  src="js/bootstrap.min.js"></script>
<script  src="js/jquery-1.11.2.min.js"></script>
<script  src="js/main.js"></script>

<script>function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"d10089f0af971191798ad6e2b43bf669"})});</script>
