/* define the layout and structure of the entire page */

.l-header {
  


}

.l-header a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 24px;
  gap: 0.1rem;
}

.l-header h1 a img {
  width: 128px; /* o el tamaño que prefieras */
  height: auto; /* para mantener la proporción */
}

.l-main {
  margin-block-start: var(--sp-l);
}

.l-content {
  max-inline-size: 800px;
  padding-inline: var(--sp-m);
  margin-inline: auto;
}

.l-footer {
  position: sticky;
  top: 100vh;
  margin-block-start: calc(var(--sp-l) * 2);
}
